<section class="container my-4">
    <h1><%= memeDetails.name %></h1>
    <p>ID: <%= memeDetails.id %></p>
    <p>URL: <%= memeDetails.url %></p>
    <p>Dimensions: <%= memeDetails.width %> x <%= memeDetails.height %></p>
    <img src="<%= memeDetails.url %>" alt="<%= memeDetails.name %>" style="max-width: 100%">
  </section>